@import "../node_modules/bootstrap/dist/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/dist/bootswatch";

.carousel-control-prev {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    top: 10rem;
    opacity: 0.6;
    height: 40px;
    width: 40px;
}
.carousel-control-next {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    top: 10rem;
    opacity: 0.6;
    height: 40px;
    width: 40px;
}

.fw-bold {
    color:rgba(0, 0, 0, 0.6) !important;
}

a .btn.btn-sm:hover{
   background-color: var(--bs-primary) !important;
}

