{% extends "layouts/base.html" %}
{% load static %}

{% load custom_filters %}

{% block content %}
<main class="container bg-body p-1 mt-5">
  <h1 class="mt-1 mb-4 ms-3 border-bottom border-primary">Historial de Compras</h1>
  {% if purchases %}
    <u>
      {% for purchase in purchases %}
      <li class=" d-flex flex-column border mb-3 p-3 m-3">
        <div class="d-flex flex-row gap-2">
          <p class="text-decoration-none">Compra #{{purchase.id}}</p>
          <p>Fecha de Compra: {{purchase.creation_date}}</p>
          <p>Monto Pagado: {{purchase.paid|currency_format}}</p>
        </div>
        <ul>
          <p class="m-0 fw-bolder">Productos:</p>
          {% for item in purchase.items.all %}
          <li><a class="text-info text-text-decoration-none" href="{% url "product" item.product_id.id %}">{{item.product_id.book_name}}</a> (Cantidad: {{item.quantity}})</li>
          {% endfor %}
        </ul>
      </li>
      {% empty %}
      <p>No hay compras realizadas aún.</p>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay compras realizadas aún.</p>
  {% endif %}
</main>
{% endblock content %}
