{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago</title>
  <link rel="stylesheet" href="{% static "scss/payment.css" %}">
  <script src="{% static "js/paymentValidations.js" %}"></script>
  <script src="{% static "js/geolocationAPI.js" %}"></script>
</head>

<body class="bg-primary-subtle">
  <div class="text-start mt-3 border-2 border-bottom border-primary">
    <h3 class="ms-4">Proceso de pago</h3>
  </div>
  <div class="container-fluid d-xl-flex">
    
    <div class="col-lg-5 border-end border-primary p-4">
      <div class="text-center mb-4">
        <h3>Artículos en el Carrito</h3>
      </div>
      <div>
        <div class="mb-4 overflow-y-auto overflow-x-hidden">
          {% for key, value in request.session.cart.items %}
          <div class="card h-auto mb-4">
            <div class="row">
              <div class="col-4 img-fluid text-center">
                <a href="{% url "product" value.product_id %}">
                  <img class="p-3" src="{{value.image}}" alt="book-img">
                </a>
              </div>
              <div class="col-6 align-content-center mt-3">
                <h1 class="card-title">{{value.name}}</h1>
                <h2 class="fw-bold">{{value.price|currency_format}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card-body border-top pb-0">
                  <div class="d-flex justify-content-between align-items-center pb-3 pt-0">
                    <h4 class="m-0">Cantidad: {{value.quantity}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div>
          <h2 class="fw-bold">Total: {{total_cart|currency_format}}</h2>
        </div>  
      </div>
    </div>
    <div class="col-lg-7">
      <form action="{% url 'payment' %}" method="post" id="paymentForm" class="p-4">
        {% csrf_token %}
        <div class="pb-4">
          <div class="text-center mb-6">
            <h3>Información del Cliente</h3>
          </div>
          <div class="mb-3">
            <label for="pName" class="form-label"><i class="fa fa-user me-2"></i>Nombre</label>
            <input type="text" class="form-control" id="pName" name="name"
              value="{{user.first_name}} {{user.surname}} {{user.last_name}}" required>
            <div class="errorMessage"></div>
          </div>
          <div class="mb-3">
            <label for="pEmail" class="form-label"><i class="fa fa-envelope me-2"></i>Correo Electrónico</label>
            <input type="email" class="form-control" id="pEmail" name="email" value="{{user.email}}" required />
            <div class="errorMessage"></div>
          </div>
          <div class="mb-3">
            <label for="fAddress" class="form-label"><i class="fa fa-address-card"></i> Dirección</label>
            <input type="text" class="form-control" id="fAddress" name="address" value="{{user.address}}" required />
            <div class="errorMessage"></div>
          </div>
          <div class="mb-3">
            <label for="pPhone" class="form-label"><i class="fa fa-phone"></i> Teléfono</label>
            <input type="tel" class="form-control" id="pPhone" name="phone" value="{{user.phone_number}}" required />
            <div class="errorMessage"></div>
          </div>
        </div>
        <div class=" mb-2">
          <div class="card p-2 shadow bg-primary">
            <div class="text-center mb-4">
              <h3>Pagar con Tarjeta</h3>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="pProp">Propietario Tarjeta</label>
              <input type="text" id="pProp" class="form-control form-control-lg" name="card_proprietary"
                placeholder="Luis Perez..." required />
              <div class="errorMessage"></div>
            </div>
            <div class="row mb-4">
              <div class=" col-5">
                <div class="form-outline">
                  <label class="form-label text-nowrap" for="pCardNumb">Número de Tarjeta</label>
                  <input type="text" id="pCardNumb" class="form-control form-control-lg" name="card_number"
                    placeholder="1234 5678 1234 5678" required />
                  <div class="errorMessage"></div>
                </div>
              </div>
              <div class="col-lg-3 col-4">
                <div class="form-outline">
                  <label class="form-label" for="pCardExpDate">Fecha Exp</label>
                  <input type="text" id="pCardExpDate" class="form-control form-control-lg" name="card_exp_date"
                    placeholder="MM/YYYY" required />
                  <div class="errorMessage"></div>
                </div>
              </div>
              <div class="col-lg-2 col-3">
                <div class="form-outline">
                  <label class="form-label" for="pCardCvv">CVV</label>
                  <input type="password" id="pCardCvv" class="form-control form-control-lg" name="card_cvv"
                    placeholder="CVV" maxlength="3" required />
                  <div class="errorMessage"></div>
                </div>
              </div>
            </div>
            <div class="container mt-auto text-end pt-3 w-100 d-flex flex-row gap-2">
              <button type="submit" class="btn btn-success btn-lg w-100">Pagar</button>
              <a href="{% url 'home' %}" class="btn btn-danger btn-lg w-100">Cancelar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>