{% load static %}

<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rincón Literario</title>
  <link rel="stylesheet" href="{% static "scss/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css"/>

  <script src="{% static "node_modules/@popperjs/core/dist/umd/popper.min.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  {% block scripts %}{% endblock scripts %}
</head>
{% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <body class="bg-primary-subtle">
    <!--Navegator-->
    {% include "layouts/navbar.html" %}
    {% include "layouts/favorites.html" %}
    {% include "layouts/cart.html" %}

    {% block content %}
    {% endblock content %}

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="#inicio" class="ms-4 mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          Rincón Literario
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><img src="icons/instagram_icon.png" alt="" style="height: 1.8rem;"></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="icons/x_icon.png" alt="" style="height: 1.8rem;"></a></li>
        <li class="ms-3 me-3"><a class="text-muted" href="#"><img src="icons/facebook_icon.png" alt="" style="height: 1.8rem;"></a></li>
      </ul>
    </footer>
  </body>
<html>
