{% extends "layouts/baseDashboard.html" %}
{% load static %}
{% block validationScript %}
  <script src="{% static "/js/productValidations.js" %}"></script>
  <script src="{% static "/js/productEditImage.js" %}"></script>
{% endblock validationScript %}

{% load static %}
{% block content %}
  <!-- Content Row -->
  <form method="POST" id="productForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
      <!-- Content Column -->
      <div class="col-lg-4 mb-2">
        <!--Product Add-->
        <div class="info-card card h-auto shadow mb-2">
          <div class="card-header py-3 pb-0 d-flex flex-row align-items-center justify-content-between">
            <h3 class="fw-semibold text-light text-start">
              Editar Producto
            </h3>
          </div>
          <div class="card-body h-100">
            <div class="w-100 mb-3">
              <label for="fIsbn" class="h5">ISBN</label>
              <input id="fIsbn" name="isbn" type="text" class="form-control" placeholder="Escribe aquí..." value="{{book.isbn}}" disabled>
              <div class="errorMessage"></div>
            </div>
            <div class="w-100 mb-3">
              <label for="fBname" class="h5">Nombre Libro</label>
              <input id="fBname" name="bookname" type="text" class="form-control" placeholder="Escribe aquí..." value="{{book.book_name}}" required>
              <div class="errorMessage"></div>
            </div>
            <div class="w-100 mb-3">
              <label for="fAuthor" class="h5">Autor</label>
              <input id="fAuthor" name="author" type="text" class="form-control" placeholder="Escribe aquí..." value="{{book.author}}" required>
              <div class="errorMessage"></div>
            </div>
            <div class="w-100 mb-3">
              <label for="fPub" class="h5">Editorial</label>
              <input id="fPub" name="publisher" type="text" class="form-control" placeholder="Escribe aquí..." value="{{book.publisher}}" required>
              <div class="errorMessage"></div>
            </div>
            <div class="mb-lg-2 mb-3">
              <label for="fLng" class="h5">Idioma</label>
              <select id="fLng" name="language" class="form-select">
                <option value="0">Selecciona</option>
                {% for code, name in languages  %}
                  {% if code == book.languages %}
                  <option selected value="{{code}}">{{name}}</option>
                  {% else %}
                  <option value="{{code}}">{{name}}</option>
                  {% endif %}
                {% endfor %}
              </select> 
              <div class="errorMessage"></div>
            </div>
            <div class="w-100 mb-3">
              <label for="fReview" class="h5">Reseña</label>
              <textarea id="fReview" name="review" type="text" class="form-control" placeholder="Escribe aquí..." rows="6">{{book.description}}</textarea>
            </div>
            <div class="w-100 mb-3">
              <h5>Imagen</h5>
              <label for="file-input" class="file-input-label">
                  <i class="fas fa-cloud-upload-alt fa-2x"></i>Subir Imagen
              </label>
              <input id="file-input" type="file" class="file-input">
            </div>
            <div class="w-100 mb-3">
              <img id="preview-image" src="{{book.image.url}}" alt="preview-img">
            </div>
            <div class="w-auto mb-3 d-flex flex-lg-column flex-row justify-content-lg-start justify-content-between">
              <div class="mb-lg-2">
                <label for="fCateg" class="h5">Categoria</label>
                <select id="fCateg" name="category" class="form-select">
                  <option value="0">Selecciona</option>
                  {% for code, name in categories  %}
                    {% if code == book.category %}
                    <option selected value="{{code}}">{{name}}</option>
                    {% else %}
                    <option value="{{code}}">{{name}}</option>
                    {% endif %}
                  {% endfor %}
                </select> 
                <div class="errorMessage"></div>
              </div>
              <div class="ps-lg-0 ps-2 text-nowrap">
                <label for="fSubCateg" class="h5">Sub Categoria</label>
                <select id="fSubCateg" name="subcategory" class="form-select">
                  <option value="0"> --- </option>
                  {% for code, name in categories  %}
                    {% if code == book.sub_category %}
                    <option selected value="{{code}}">{{name}}</option>
                    {% else %}
                    <option value="{{code}}">{{name}}</option>
                    {% endif %}
                  {% endfor %}
                </select> 
              </div>
            </div>
            <div class="w-100 mb-4">
              <label for="fPrice" class="h5">Precio</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input id="fPrice" name="price" type="text" class="form-control" placeholder="Escribe aquí..." value="{{book.price}}" required>
                <div class="errorMessage"></div>
              </div>
            </div>
            <div class="w-100 mb-3">
              <input type="checkbox" id="publishCheckDefault" name="publish" class="form-check-input" value="{{book.publish}}">
              <label for="publishCheckDefault" class="form-check-label">
                Publicar en la Web
              </label>
            </div>
            <div class="w-100 mb-3 d-flex">
              <div class="me-2">
                <button type="submit" class="btn btn-add border-0"></i>Guardar Cambios</button>
              </div>
              <div>
                <a class="btn btn-add border-0" href="{% url "dashboardProducts" %}"></i>Atrás</a>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}