{% extends "layouts/baseDashboard.html" %}

{% load static %}
{% load custom_filters %}
{% block content %}
  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12 mb-2">
      <!--Product List-->
      <div class="p-2 py-2 pb-lg-3 pb-2 d-flex justify-content-end">
        <div>
          <a class="btn btn-add border-0" href="{% url "dashboardProductAdd" %}"><i class="fas fa-plus fa-lg me-2"></i>Añadir Libro</a>
        </div>
      </div>
      <div class="info-card card h-auto shadow mb-2">
        <div class="card-header py-3 pb-0 d-flex flex-row align-items-center justify-content-between">
          <div class="d-flex flex-column me-3 ms-lg-2 mb-3">
            <h3 class="fw-semibold text-light text-start">
              Productos
            </h3>
            <form class="" role="search">
              <input class="form-control" type="text" placeholder="Buscar Libro" aria-label="Search">
            </form>
          </div>
          <div class="d-flex flex-lg-row flex-column align-items-center">
            <div class="dropdown dropdown-center">
              <button class="btn btn-dark text-nowrap dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categoría
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <!--AÑADIR FOR CON LOS DATOS CORRESPONDIENTES-->
                <li>
                  <a class="dropdown-item" href="#">Ciencia Ficción</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Fantasía</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Thriller</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Misterio</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Drama</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Romance</a>
                </li>
              </ul>
            </div>
            <div class="dropdown dropdown-center mt-lg-0 mt-2 mx-lg-2">
              <button class="btn btn-dark text-nowrap dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ordenar Por
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" href="#">Recientes</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Relevantes</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Antiguos</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Precio mayor a menor</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Precio menor a mayor</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body h-100 mx-lg-5" style="max-height: fit-content;">
          <div class="row">
          <!--AÑADIR FOR CON LOS DATOS CORRESPONDIENTES-->
            {% for book in books %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
              <div class="info-card card border-2 text-dark-emphasis h-auto">
                <div class="card-header bg-white">
                  <img class="img-fluid" src="{{book.image.url}}" alt="libro_img">
                </div>
                <div class="card-body d-flex flex-column justify-content-between border-top pb-1" style="height: 30vh;">
                  <h5 class="card-title overflow-auto" style="font-size: 18px; max-height: 65px; height: 65px;">{{book.book_name}}</h5>
                  <div class="py-2 d-flex flex-column">
                    <h5 class="fw-bold">{{book.price|currency_format}}</h5>
                    <div class="d-lg-flex flex-column">
                      <a class="btn btn-sm mb-lg-2 btn-dark border-light border-opacity-50" role="button" href="{% url "dashboardProductEdit" book.isbn%}">
                        <i class="fas fa-pen me-2"></i>Editar</a>
                      <a class="btn btn-sm btn-dark border-light border-opacity-50" role="button" href="{% url "dashboardProductDelete" book.isbn %}" style="color: #fd4949;">
                        <i class="fas fa-trash me-2"></i>Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <nav>
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}