{% extends "layouts/baseDashboard.html" %}

{% load static %}
{% load custom_filters %}
{% block content %}
  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12 mb-2">
      <!--Selled Book Status Table-->
      <div class="info-card card h-auto shadow mb-2">
        <div class="card-header py-3 pb-0 d-flex flex-row align-items-center justify-content-between">
          <div class="d-flex flex-column">
            <h3 class="m-0 fw-semibold text-light">
              Detalle Compra#{{purchase.id}}
            </h3>
            <p>{{ purchase.creation_date }}</p>
          </div>
          <div class="d-flex flex-lg-row flex-column align-items-center">
            <form method="post" class="d-flex align-items-center">
              {% csrf_token %}
              <div class="dropdown dropdown-center me-2">
                <button class="btn btn-dark text-nowrap dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cambiar Estado
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  {% for code, display in STATUS %}
                    <li>
                      <button class="dropdown-item" type="submit" name="status" value="{{code}}">{{display}}</button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                  {% endfor %}
                </ul>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body mx-lg-5" style="max-height: 800px">
          <div class="row">
            <div class="col-lg-4 mb-2 d-flex flex-column text-nowrap overflow-auto" style="font-size: 15px">
              <div class="fw-semibold">
                <i class="pe-2 fas fa-user fa-1x"></i>
                Cliente
              </div>
              <div class="ps-1">
                <p class="m-0 overflow-auto">{{purchase.client.first_name}} {{purchase.client.surname}} {{purchase.client.last_name}}</p>
                <p class="m-0 overflow-auto">{{purchase.email }}</p>
                <p class="m-0 overflow-auto">{{purchase.phone_number}}</p>
              </div>
            </div>
            <div class="col-lg-4 mb-2 d-flex flex-column text-nowrap overflow-auto" style="font-size: 15px">
              <div class="fw-semibold text-nowrap">
                <i class="pe-2 fas fa-truck fa-sm"></i>
                Transportista
              </div>
              <div class="ps-1">
                <p class="m-0 overflow-auto">International Warehouse</p>
                <p class="m-0 overflow-auto">
                  Estado: <span class="fw-bold {{purchase.get_status_class}}" >{{purchase.get_status_display}}</span>
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-3 d-flex flex-column text-nowrap" style="font-size: 15px">
              <div class="fw-semibold text-nowrap">
                <i class="pe-2 fas fa-location-dot fa-sm"></i>
                Entregar en
              </div>
              <div class="ps-1">
                <p class="m-0 overflow-auto">Dirección: {{purchase.address}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive card h-auto">
                  <table class="table table-sm table-bordered table-striped text-nowrap border-dark rounded-5">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in purchase.items.all %}
                      <tr>
                        <th scope="row">
                          <a class="" href="{% url "product" item.product_id.id %}">{{item.product_id.book_name}}</a>
                        </th>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product_id.price|currency_format}}</td>
                        <td>{{purchase.paid|currency_format}}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <td class="text-end pe-3" colspan="4">
                          <p class="mb-1">
                            Subtotal :
                            <span class="fw-semibold">{{purchase.paid|currency_format}}</span>
                          </p>
                          <p class="mb-1">
                            Coste Envío:
                            <span class="fw-semibold">$0</span>
                          </p>
                          <p class="mb-1">
                            Total:
                            <span class="fw-semibold" style="font-size: 24px">{{purchase.paid|currency_format}}</span>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->
{% endblock content %}
