{% extends "layouts/baseDashboard.html" %}

{% load static %}
{% load custom_filters %}
{% block content %}
  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12 mb-2">
      <!--Shopping Status Table-->
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Seguimiento Compras</h5>
        </div>
        <div class="card-body mx-2 overflow-auto" style="max-height: 600px;">
          <div class="table-responsive">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Cant. Productos</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <!--Añadir FOR con los datos correspondientes-->
                {% for purchase in purchases %}
                <tr>
                  <th scope="row">{{purchase.id}}</th>
                  <td>{{purchase.client.first_name}} {{purchase.client.surname}} {{purchase.client.last_name}}</td>
                  <td>{{purchase.total_quantity}}</td>
                  <td>{{purchase.paid|currency_format}}</td>
                  <td>{{purchase.creation_date}}</td>
                  <td>
                    <p class="state {{purchase.status_class}} rounded-pill bg-opacity-75 fw-semibold">
                      {{purchase.get_status_display}}
                    </p>
                  </td>
                  <td class="p-1">
                    <div class="d-flex justify-content-end "><a class="btn btn-sm btn-dark"
                        href="{% url "dashboardShoppingEdit" purchase.id %}"><i class="fas fa-pen fa-sm me-1"></i>Editar</a></div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-lg-6 mb-4">
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="info-card card shadow mb-4 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Cantidad Compras (Mensuales)</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img class="" src="{% static "public/img/graph1.png" %}" alt="">
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="info-card card shadow mb-4 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Ganancia Compras (Mensuales)</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img class="" src="{% static "public/img/graph2.png" %}" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}