{% load static %}

<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static "scss/dashboard.css" %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" rel="stylesheet">
  
  <script src="{% static "/node_modules/@popperjs/core/dist/umd/popper.min.js" %}"></script>
  <script src="{% static "/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{% static "/js/sidebar.js" %}"></script>
  <script src="{% static "/js/navlink.js" %}"></script>
  {% block validationScript %}{% endblock validationScript %}
</head>
<body class="bg-dark">
    <!--Navegator -->
  <nav id="navbar" class="navbar navbar-expand-lg bg-body-secondary shadow fixed-top">
    <div class="container-fluid d-flex justify-content-start ">
      <div class="col-auto">
        <button id="sidebarCollapse" class="btn" class="p-2 text-decoration-none"><i class="fas fa-bars small" style="color:#fff;"></i></button>
      </div>
      <a class="navbar-brand ms-2" href="{% url "dashboardHome" %}">Rincón Literario Dashboard</a>
    </div>
  </nav>

  <!-- Sidebar -->
  <div id="content" class="container-fluid" style="margin-left: 0px;">
    <div class="row flex-nowrap">
      <div class="col-auto px-0 py-0">
        <div id="mySidebar" class="sidebar navbar bg-dark border-end shadow text-nowrap d-flex flex-column">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardHome" %}"><i class="fas fa-home fa-lg me-2"></i>Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardCharts" %}"><i class="fas fa-chart-simple fa-lg me-2"></i>Gráficas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardShopping" %}"><i class="fas fa-bag-shopping fa-lg me-2"></i>Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardOrders" %}"><i class="fas fa-truck fa-sm me-2"></i>Órdenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardProducts" %}"><i class="fas fa-book fa-lg me-2"></i>Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboardUsers" %}"><i class="fas fa-users fa-lg me-2"></i>Usuarios</a>
            </li>
          </ul>
          <div class="mb-3 w-100 px-2">
            <div class="d-flex justify-content-start w-100 dropdown dropup">
              <div class="btn text-start w-100" data-bs-toggle="dropdown">
                <span class="fa-stack small">
                  <i class="fas fa-circle fa-stack-2x me-1"></i>
                  <i class="fas fa-user fa-stack-1x me-1" style="color: #343a40;"></i>
                </span>
                <span class="text-end">{{user.username}}</span>
              </div>
              <ul class="dropdown-menu dropdown-menu-dark shadow text-center mx-3">
                <li><a class="dropdown-item" href="{% url "dashboardProfile" %}">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "logout" %}">Cerrar Sesión</a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
      <!-- Main Column -->
      <div class="col-12 mt-4">
        <div class="container-fluid">
          <!-- Content Row -->
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>