{% extends "layouts/baseDashboard.html" %}
{% load static %}
{% block validationScript %}
<script src="{% static "js/userValidations.js" %}"></script>
<script src="{% static "js/geolocationAPI.js" %}"></script>
{% endblock validationScript %}

{% block content %}
  <!-- Content Row -->
  <form method="POST" id="addUserForm" novalidate>
    {% csrf_token %}
    <div class="row justify-content-center">
      <!-- Content Column -->
      <div class="col-lg-10 mb-2">
        <!--User Edit-->
        <div class="info-card card h-auto shadow mb-2">
          <div class="card-header py-3 pb-0 d-flex flex-column align-items-start justify-content-between">
            <h3 class="fw-semibold text-light text-start">
              Editar Usuario
            </h3>
            <h4>ID: {{user.id}}</h5>
          </div>
          <div class="card-body h-100">
            <div class="row">
              <div class="col-lg-6 col-md-4 col-sm-12 mt-0 ps-lg-4">
                <div class="w-100 mb-2">
                  <label for="fUser" class="h5">Nombre Usuario</label>
                  <input id="fUser" name="user" type="text" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.username}}" required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-2">
                  <label for="fName" class="h5">Nombre</label>
                  <input id="fName" name="name" type="text" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.first_name}}" required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fLnames" class="h5">Apellidos</label>
                  <input id="fLnames" name="lastnames" type="text" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.surname}} {{user.last_name}}" required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fEmail" class="h5">E-mail</label>
                  <input id="fEmail" name="email" type="email" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.email}}" required>
                    <div class="errorMessage"></div>
                </div>     
              </div>
              <div class="col-lg-6 col-md-4 col-sm-12 mt-0 ps-lg-4">
                <div class="w-100 mb-3">
                  <label for="fPsw2" class="h5">Contraseña</label>
                  <input id="fPsw" name="psw" type="password" class="profileS form-control"
                    placeholder="Escribe aquí..." required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fPsw3" class="h5">Confirmar Contraseña</label>
                  <input id="fPsw3" name="psw3" type="password" class="profileS form-control"
                    placeholder="Escribe aquí..." required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fPhone" class="h5">Número Celular</label>
                  <input id="fPhone" name="phone" type="text" class="profileS form-control"
                    placeholder="Escribe aquí..." value="{{user.phone_number}}" required>
                    <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fUserType" class="h5">Tipo Usuario</label>
                  <select id="fUserType" name="userType" class="form-select">
                    <option {% if user.is_staff == False %}selected{% endif %} value="False">Cliente</option>
                    <option {% if user.is_staff %}selected{% endif %} value="True">Empleado</option>
                </select>
                
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 ps-lg-4 d-flex flex-column">
                <div class="w-100 mb-3">
                  <label for="fAddress" class="h5">Dirección</label>
                  <input id="fAddress" name="address" type="text" class="profileS form-control"
                    placeholder="Escribe aquí..." value="{{user.address}}" required>
                </div>
                <div class="w-100 mb-3">
                  <label for="fRegion" class="h5">Región</label>
                  <input id="fRegion" name="region" type="text" class="profileS form-control"
                    placeholder="Escribe aquí..." required>
                </div>
                <div class="w-100 mb-3">
                  <label for="fCity" class="h5">Ciudad</label>
                  <input id="fCity" name="city" type="text" class="profileS form-control"
                    placeholder="Escribe aquí..." required>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-lg-end justify-content-center">
              <div class="me-2">
                <button type="submit" class="btn btn-add border-0">Guardar Cambios</button>
              </div>
              <div>
                <a class="btn btn-add border-0" href="{% url "dashboardUsers" %}">Atrás</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock content %}
