{% extends "layouts/baseDashboard.html" %}
{% load static %}
{% block validationScript %}
  <script src="{% static "js/userValidations.js" %}"></script>
  <script src="{% static "js/geolocationAPI.js" %}"></script>
{% endblock validationScript %}

{% block content %}
  <!-- Content Row -->
  <form method="POST" id="profileForm">
    {% csrf_token %}
    <div class="row justify-content-center">
      <!-- Content Column -->
      <div class="col-lg-10 mb-2">
        <!--Product Add-->
        <div class="info-card card h-auto shadow mb-2">
          <div class="card-header py-3 pb-0 d-flex flex-row align-items-center justify-content-between">
            <h3 class="fw-semibold text-light text-start">
              Perfil
            </h3>
          </div>
          <div class="card-body h-100">
            <div class="row">
              <div
                class="col-lg-4 col-md-5 pb-lg-3 d-flex flex-column justify-content-lg-center align-items-center">
                <div class="p-3 border rounded-5">
                  <label for="fFile-input" style="cursor: pointer;">
                    <i class="fas fa-user" style="font-size: 300px;"></i>
                  </label>
                  <input id="fFile-input" name="profileImg" type="file" class="file-input">
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 mt-lg-0 mt-3 ps-lg-4">
                <div class="w-100 mb-2">
                  <label for="fName" class="h5">Nombre</label>
                  <input id="fName" name="name" type="text" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.first_name}}" required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fLnames" class="h5">Apellidos</label>
                  <input id="fLnames" name="lastnames" type="text" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.surname}} {{user.last_name}}" required>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fEmail" class="h5">E-mail</label>
                  <input id="fEmail" name="email" type="email" class="profile form-control"
                    placeholder="Escribe aquí..." value="{{user.email}}" required>
                    <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fPhone" class="h5">Número Celular</label>
                  <input id="fPhone" name="phone" type="text" class="profile form-control"
                    placeholder="Escribre aquí..." value="{{user.phone_number}}" required>
                    <div class="errorMessage"></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-3">
                <div class="w-100 mb-3">
                  <label for="fAbout" class="h5">Sobre mí</label>
                  {% if user.about %}
                  <textarea id="fAbout" name="about" type="text" class="form-control"
                    placeholder="Escribe aquí..." maxlength="500" rows="12">
                    {{user.about}}
                  </textarea>
                  {% else %}
                  <textarea id="fAbout" name="about" type="text" class="form-control"
                    placeholder="Escribe aquí..." maxlength="500" rows="12"></textarea>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 ps-lg-4 py-3 d-flex flex-column border-top">
                <div class="w-100 mb-3">
                  <label for="fPsw" class="h5">Contraseña Actual</label>
                  <input id="fPsw" name="psw" type="password" class="form-control"
                    placeholder="Contraseña Actual">
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fPsw2" class="h5">Nueva Contraseña</label>
                  <input id="fPsw2" name="psw2" type="password" class="form-control"
                    placeholder="Nueva Contraseña" disabled>
                  <div class="errorMessage"></div>
                </div>
                <div class="w-100 mb-3">
                  <label for="fPsw3" class="h5">Confirmar Contraseña</label>
                  <input id="fPsw3" name="psw3" type="password" class="form-control"
                    placeholder="Confirmar Contraseña" disabled>
                  <div class="errorMessage"></div>
                </div>
              </div>
              <div class="col-lg-6 ps-lg-4 py-3 d-flex flex-column border-top">
                <div class="w-100 mb-3">
                  <label for="fAddress" class="h5">Dirección</label>
                  <input id="fAddress" name="address" type="text" class="form-control"
                    placeholder="Escribre aquí..." value="{{user.address}}" required>
                </div>
                <div class="w-100 mb-3">
                  <label for="fRegion" class="h5">Región</label>
                  <input id="fRegion" name="region" type="text" class="form-control"
                    placeholder="Región Actual.." required>
                </div>
                <div class="w-100 mb-3">
                  <label for="fCity" class="h5">Ciudad</label>
                  <input id="fCity" name="city" type="text" class="form-control"
                    placeholder="Ciudad Actual.." required>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-lg-end justify-content-center">
              <div class="me-2">
                <button type="submit" class="btn btn-add border-0">Guardar Cambios</button>
              </div>
              <div>
                <a class="btn btn-add border-0" href="{% url "dashboardHome" %}">Atrás</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}