{% extends "layouts/baseDashboard.html" %}

{% load static %}
{% block content %}
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-lg-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Visitas</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img src="{% static "public/img/graph2.png" %}" alt="chart_img">
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Registros</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img src="{% static "public/img/graph3.png" %}" alt="chart_img">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-lg-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Compras</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img class="" src="{% static "public/img/graph1.png" %}" alt="chart_img">
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Ganancias</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
          <img class="" src="{% static "public/img/graph4.png" %}" alt="chart_img">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}