{% extends "layouts/baseDashboard.html" %}

{% load static %}
{% block content %}
  <div class="row">
    <!--Card-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="info-card card border-left-primary shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Nuevos Usuarios</div>
              <div class="h5 mb-0 font-weight-bold"><i class="fas fa-caret-up fa-lg text-success me-2"></i>6.200</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="info-card card border-left-success shadow h-100 py-2 rounded-5 ">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Total Ventas (Mensual)</div>
                <div class="h5 mb-0 font-weight-bold"><i class="fas fa-caret-up fa-lg text-success me-2"></i>$650,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="info-card card border-left-info shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitas Diarias
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold"><i class="fas fa-caret-down fa-lg text-danger me-2"></i>6.430</div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack card-icon small p-0">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-regular fa-eye fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="info-card card border-left-indigo shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Compras Diarias
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold"><i class="fas fa-caret-up fa-lg text-success me-2"></i>4.200</div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bag-shopping fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-2">
    <!--Order Books Status Table-->
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Seguimiento Órdenes</h5>
        </div>
        <div class="card-body mx-2 overflow-auto" style="max-height: 300px;">
          <div class="table-responsive">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Pagado</th>
                  <th scope="col">Método</th>
                  <th scope="col">Cant. Productos</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">430</th>
                  <td>$445,500</td>
                  <td>Visa</td>
                  <td>40</td>
                  <td>07/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">440</th>
                  <td>$460,300</td>
                  <td>Master Card</td>
                  <td>50</td>
                  <td>09/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">450</th>
                  <td>$225,500</td>
                  <td>Master Card</td>
                  <td>20</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">460</th>
                  <td>$155,500</td>
                  <td>Visa</td>
                  <td>15</td>
                  <td>13/04/2024</td>
                  <td>En Proceso</td>
                </tr>
                <tr>
                  <th scope="row">470</th>
                  <td>$545,500</td>
                  <td>Visa</td>
                  <td>85</td>
                  <td>13/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">480</th>
                  <td>$360,300</td>
                  <td>Master Card</td>
                  <td>45</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">490</th>
                  <td>$725,500</td>
                  <td>Master Card</td>
                  <td>95</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">500</th>
                  <td>$455,500</td>
                  <td>Visa</td>
                  <td>30</td>
                  <td>13/04/2024</td>
                  <td>En Proceso</td>
                </tr>
                <tr>
                  <th scope="row">510</th>
                  <td>$145,500</td>
                  <td>Visa</td>
                  <td>15</td>
                  <td>13/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">520</th>
                  <td>$360,300</td>
                  <td>Master Card</td>
                  <td>40</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">560</th>
                  <td>$525,500</td>
                  <td>Master Card</td>
                  <td>50</td>
                  <td>14/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">570</th>
                  <td>$755,500</td>
                  <td>Visa</td>
                  <td>85</td>
                  <td>14/04/2024</td>
                  <td>En Proceso</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-2">
      <!--Selled Orders Status Table-->
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Seguimiento Compras</h5>
        </div>
        <div class="card-body mx-2 overflow-auto" style="height: 300px;">
          <div class="table-responsive">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Pagado</th>
                  <th scope="col">Método</th>
                  <th scope="col">Cant. Productos</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">210</th>
                  <td>$45,500</td>
                  <td>Visa</td>
                  <td>2</td>
                  <td>07/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">220</th>
                  <td>$60,300</td>
                  <td>Master Card</td>
                  <td>4</td>
                  <td>09/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">230</th>
                  <td>$25,500</td>
                  <td>Master Card</td>
                  <td>1</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">240</th>
                  <td>$55,500</td>
                  <td>Visa</td>
                  <td>3</td>
                  <td>13/04/2024</td>
                  <td>En Proceso</td>
                </tr>
                <tr>
                  <th scope="row">250</th>
                  <td>$45,500</td>
                  <td>Visa</td>
                  <td>2</td>
                  <td>13/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">260</th>
                  <td>$60,300</td>
                  <td>Master Card</td>
                  <td>4</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">270</th>
                  <td>$25,500</td>
                  <td>Master Card</td>
                  <td>1</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">280</th>
                  <td>$55,500</td>
                  <td>Visa</td>
                  <td>3</td>
                  <td>13/04/2024</td>
                  <td>En Proceso</td>
                </tr>
                <tr>
                  <th scope="row">290</th>
                  <td>$45,500</td>
                  <td>Visa</td>
                  <td>2</td>
                  <td>13/04/2024</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">300</th>
                  <td>$60,300</td>
                  <td>Master Card</td>
                  <td>4</td>
                  <td>13/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">310</th>
                  <td>$25,500</td>
                  <td>Master Card</td>
                  <td>1</td>
                  <td>14/04/2024</td>
                  <td>Enviado</td>
                </tr>
                <tr>
                  <th scope="row">320</th>
                  <td>$55,500</td>
                  <td>Visa</td>
                  <td>3</td>
                  <td>14/04/2024</td>
                  <td>En Proceso</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-6 col-md-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Ganancias</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
            <img class="" src="{% static "public/img/graph1.png" %}" alt="">
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-2">
      <div class="info-card card shadow mb-2 h-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 fw-semibold text-light">Gráfica Ventas</h5>
          <div class="col-auto">
            <i class="fas fa-chart-simple fa-lg"></i>
          </div>
        </div>
        <div class="card-body mx-2">
            <img class="" src="{% static "public/img/graph2.png" %}" alt="">
        </div>
      </div>
    </div>
{% endblock %}